.modal {
  &_content_change-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 740px;
    width: 100%;
    min-height: 384px;
    overflow: hidden;
    text-align: center;
  }
}
