.modal {
  &_content_instagram-post {
    max-width: 740px;
    width: 100%;
    max-height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    overflow: auto;

    .modal__title {
      max-width: 580px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}