.modal {
  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    transition: opacity linear .3s;
    &.is-hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}
