.operation {
  &__action {
    flex-shrink: 0;
    align-self: center;
    width: 110px;
    @media (--mobile) {
      align-self: flex-start;
    }
    @media (--tabletPortrait) {
      align-self: flex-start;
    }
  }
}
