.link {
  &_content_tooltip {
    position: relative;

    &:hover {
      &:after {
        transform: translate(-50%, 0);
        opacity: 1;
        pointer-events: auto;
      }
    }

    &:after {
      content: attr(data-text);
      position: absolute;
      bottom: 100%;
      left: 50%;
      z-index: 1;
      width: 240px;
      margin-bottom: 5px;
      padding: 20px;
      font-family: var(--defaultFont);
      font-size: 14px;
      color: #303545;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 8px 12px rgba(48, 53, 69, .12);
      box-sizing: border-box;
      transform: translate(-50%, 10%);
      opacity: 0;
      pointer-events: none;
      transition: transform .5s, opacity .5s;
    }
  }
}
