/node_modules
/public/hot
/public/storage
/public/build
/public/css/minified
/public/js/minified
/public/api
/storage
/docker/hosts
npm-debug.log
.env
.stage
APP_ENV
.DS_Store
/vendor
docker-compose.yml
yarn-error.log
.idea
.php_cs.cache