.how-it-work {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-top: -20px;
    padding: 0;
    list-style: none;

    @media (--mobile) {
      margin-top: 0;
    }

    @media (--tabletPortrait) {
      margin-top: 0;
    }
  }
}
