.faq {
  position: relative;
  padding: 20px * 15px;
  font-family: var(--defaultFont);
  border-bottom: 1px solid #edf0f3;
  transition: border-bottom-color linear .3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  @media (--mobile) {
    padding-left: 12px;
    padding-right: 20px;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 0;
    size: 12px 7px;
    background: svg-load(arrow-down.svg, width: 12px, height: 7px);
    transition: transform linear .3s;
    @media (--mobile) {
      right: 15px;
    }
  }
  &:hover {
    border-bottom-color: #dce0e6;
  }
  &.is-active {
    border-bottom-color: var(--brandColor);
    &:before {
      transform: rotate(180deg);
    }
  }
}
