.tab {
  &__content {
    display: none;
    float: right;
    width: 100%;
    margin: 49px 0 0 -100%;
    padding-top: 30px;
    border-top: 2px solid rgba(48, 53, 69, .1);

    @media (--aboveTabletPortrait) {
      margin-top: 78px;
    }

    .tab__title.is-active + & {
      display: block;
    }
  }
}
