.operation {
  &__status_viewtype_accepted {
    position: relative;
    color: var(--brandColor);
    background-color: transparent;
    &:before {
      content: "";
      position: absolute 0;
      background-color: var(--brandColor);
      opacity: .1;
      border-radius: 7px;
    }
  }
}
