.button {
  &_viewtype_modal {
    width: 100%;
    max-width: 260px;
    font-family: var(--defaultFontSemiBold);
    font-size: 17px;
    color: #fff;
    background-color: var(--brandColor);
    &:hover,
    &:focus {
      background-color: #ffb954;
    }
    &:active {
      background-color: #e59625;
    }
    &.is-load {
      background: linear-gradient(-45deg, #e59625 25%, transparent 25%, transparent 50%, #e59625 50%, #e59625 75%, transparent 75%, transparent);
      background-color: #ffb954;
      background-size: 50px 50px;
      animation: load 2s linear infinite;
    }
  }
}
