.faq {
  &__answer {
    max-height: 0;
    margin: 0;
    padding: 0 0 0 25px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    opacity: 0;
    pointer-events: none;
    transition: max-height linear .3s, opacity .3s linear;
    @media (--aboveMobile) {
      padding-left: 40px;
    }
    .faq.is-active & {
      max-height: 1000px;
      opacity: 1;
      pointer-events: auto;
    }
    p, li {
      margin-bottom: 8px;
    }
    ol, ul {
      margin-left: 15px;
    }
    ul {
      list-style-type: disc;
    }
    a {
      color: #00bde6;
      border-bottom: 1px solid transparent;
      transition: border-bottom-color linear .3s;
      &:hover,
      &:focus,
      &:active {
        border-bottom-color: #00bde6;
      }
    }
  }
}
