.social-button {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color linear .3s;

  @media (--mobile) {
    width: 56px;
    height: 56px;
  }

  &.is-small {
    width: 48px;
    height: 48px;

    @media (--mobile) {
      width: 48px;
      height: 48px;
    }
  }

  &.is-small {
    width: 32px;
    height: 32px;

    @media (--mobile) {
      width: 32px;
      height: 32px;
    }
  }
}
