.tab-content {
  height: 100%;
  padding-top: 35px;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 1;
  transition: opacity linear .3s .5s;
  transform: translateZ(0);
  @media (--mobile) {
    min-height: 100vh;
    padding-top: 0;
  }
  &.is-hide {
    position: absolute;
    width: 100%;
    height: 0;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
  }
}
