.tile {
  &__decor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(48, 54, 69, .04);
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border-color .3s, background-color .3s;
    pointer-events: none;

    .tile__input:checked ~ & {
      background-color: transparent;
      border-color: var(--brandColor);
    }
  }
}
