.form-success-send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  line-height: 1.15px;
  color: var(--defaultColor);
  text-align: center;
}
