.field-composition {
  &_content_total {
    display: flex;
    align-items: center;
    font-size: 16px;

    .field-composition {
      &__title {
        position: static;
        flex-basis: 200px;
        flex-shrink: 0;
        flex-grow: 0;
        clip: auto;
      }

      &__content {
        flex-grow: 1;
      }
    }
  }
}
