.filter {
  &__datepicker {
    position: relative;
    display: flex;
    margin-left: 25px;

    @media (--mobile) {
      margin-left: 0;
      margin-top: 15px;
    }

    @media (--tabletPortrait) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}
